.form-label{
color: #D1434F;

}

.formSubmit{
    margin-right:30%;
    margin-left: 30%;
    margin-top: 5%;
    border: 1px solid #000000;
    padding: 1rem;
    border-radius: 5px;

}
.buttonSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.labelForm{
    color: #D1434F;
    margin: 5%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}