.cardTitle{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.brand {
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.age{
    font-size: 1.5rem;
}

.price{
    font-size: 2.5rem;
}

.addBtn{
    margin-right: 3rem;
}